html{
    background-color: #1b1b1e;
}


header{
    display: inline;
}

#site-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}
#header-wrapper{
    display: inline;
}

#timer{
    margin-right: 15px;
}

#body-wrapper{
    /* font-size: 40px; */
    height: 65%;
    /* border: 4px solid bl; */
    display: flex;
    justify-content: center;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#intro h1{
    color: #5E757F;
    border-bottom: 4px dotted #C20114;
    font-size: 35px;
}
#intro p{
    font-size: 28px;
}

#question-title{
    color: #ff8a5b;
    border-bottom: 4px dotted #C20114;
    font-size: 45px;
}
p{
    color: #C8D3D5;
}


#footer-wrapper{
    position: sticky;
}


#main{
    display: none;
}

#outro{
    display: none;
}

#outro h2{
    color: #5E757F;
    border-bottom: 4px dotted #C20114;
    font-size: 35px;
}

#outro p{
    font-size: 28px;
}

#scoreb p{
    color: red;
    font-size: 35px;
}

#selection-section{
    display: flex;
    flex-direction: column;
    border-bottom: 4px dotted black;
}

#selection-section-list{
    display: flex;
}

#selection-section-button{
    /* background-color: red; */
    padding: 2em;
    margin: 1em;
}

#feedback{
    opacity: 0%;
    border-top: 10px solid black;
}

#feedback-fade-wrong{
    color: red;
    animation: fadeInOut 2s linear 1 forwards;
}
#feedback-fade-right{
    color: green;
    animation: fadeInOut 2s linear 1 forwards;
}

#score{

}
  
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}