html{
    background-color: #1b1b1e;
}
/* Main Wrappers */
#site-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

#header-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#header-wrapper a{
    padding-top: 2%;
    text-decoration: none;
    font-size: 2em;
    color: #C8D3D5;
    border: 2px solid #5E757F;
}
/* Score and timer styling */
#score{
    color: #C8D3D5;
    font-size: 5em;
}

#timer{
    color: #C8D3D5;
    font-size: 5em;
}

#body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Styling for first screen seen when visiting */
#intro{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20%;
    width: 60%;
}

#intro h1{
    color: #ff8a5b;
    border-bottom: 4px dotted #C20114;
    font-size: 35px;
    width: 66%;
    padding-bottom: 2%;

}
#intro p{
    font-size: 28px;
    margin-top: 3%;
    color: #C8D3D5;
}

/* Styling for questions and buttons */
#main{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20%;
    width: 60%;
}

#question-title{
    color: #ff8a5b;
    border-bottom: 4px dotted #C20114;
    font-size: 45px;
    padding-bottom: 7%;
}

#selection-section{
    display: flex;
    flex-direction: column;
    border-bottom: 4px dotted black;
}

#selection-section-list{
    display: flex;
    flex-direction: column;
}

#selection-section-button{
    padding: 2em;
    margin: 1em;
    color:#C8D3D5;
    background-color: #5E757F;
    font-size: 20px;
}

/* Styling for the red and green correct at bottom */
#feedback{
    opacity: 0%;
    border-top: 10px solid black;
}

#feedback-fade-wrong{
    color: red;
    animation: fadeInOut 2s linear 1 forwards;
    font-size: 8em;
}
#feedback-fade-right{
    color: green;
    animation: fadeInOut 2s linear 1 forwards;
    font-size: 8em;
}

/* keyframes for the animation of the fade */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* styling for displaying score and collecting initals */
#outro{
    display: none;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20%;
    width: 60%;
}

#outro h2{
    color: #ff8a5b;
    border-bottom: 4px dotted #C20114;
    font-size: 35px;
    padding-bottom: 2%;
}

#scoring{
    font-size: 28px;
    margin-top: 3%;
    color: #C8D3D5;
}

#sub{
    margin-top: 3%;
    padding: 1%;
    width: fit-content;
    background-color: #5E757F;
    border: 4px solid #C8D3D5;
    border-radius: 3%;
}

#start{
    margin-top: 3%;
    padding: 1%;
    width: fit-content;
    margin-left: 40%;
    background-color: #5E757F;
    border: 4px solid #C8D3D5;
    border-radius: 3%;
}

#scoreb li{
    color: #C8D3D5;
    text-align: center;
    font-size: 35px;
}













